/* BODY/ REMISE À 0 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--couleur-background);

    overflow-x: hidden;
}

p {
    font-family: "Titillium Web", sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: 15vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

img {
    width: 15rem;
    height: 10rem;
}

/* CANVAS */
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

/* MAIN */
main {
    width: 100%;
    height: 100%;

    // TEMPORAIRE
    margin-top: 2rem;
    background-color: hsla(1%, 0%, 5%, 0.5);

    p {
        color: white;
        padding-bottom: 2rem;
    }
}

/* SECTION(S) */
section {
    width: 100%;
    height: 30%;

    // TEMPORAIRE
    background-color: hsla(1%, 2%, 5%, 1);
    color: white;
}
