//@media screen and (min-width: $Fullscreen)
.cours-container{
    background-color: #0000007a;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1.5rem 0;
    text-align: center;
    align-items: center;

    p, h2, h3{
        color: white;
    }

    .cours-contenu{
        background-color: #00000049;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .dropdown-toggle {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            background: none;
            border: none;
            padding: 20px 7px;
            font-size: 1.2em;
            align-items: center;
        }

        .arrow {
            transition: transform 0.3s ease;
        }
        
        .dropdown-toggle.active .arrow {
            transform: rotate(180deg);
        }

    }

    .post-gallery{
    
        .logiciels{
            
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2rem;

            .icones-logiciels{
                display: flex;
                justify-content: center; /* Centering the icons */
                flex-wrap: wrap; /* Allows icons to wrap to a new line if needed */
                width: 100%; /* Make sure it doesn’t exceed the parent container */


                figure{
                    width: 80px;
                    display: flex;
                    margin: 5px;
                }
            }


            img{
                width: 100%;
                height: auto;
    
            } 
        }
    }
}

.post-text{
    
    p{
        text-align: justify;
        padding: 1.5rem;
    }
}

.post-text, .post-gallery {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease-out;

}

.open {
    max-height: 1000px; /* Set a max height large enough to fit the content */
    opacity: 1;

}

