h1 {
    font-family: pixellari;
    font-size: 10vw;
    color:white;
    filter: url(#crispify);
    text-shadow: 0.3vw 0.3vw 0px rgb(255, 151, 194),0.6vw 0.6vw 0px #a70a4ba9, 
    -0.3vw -0.3vw 0px #00bc87b2, -10px 15px 15px #08092ad8;
}