/* POLICES */
@font-face {
    font-family: "pixellari";
    src: url("../fonts/Pixellari.ttf");
}

@font-face {
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

/* TITRES */
h1 {
    font-family: 'pixellari';
    font-size: 4vw; // À TRAVAILLER
    filter: url(#crispify);
    text-shadow: 0.15vw 0.15vw 0px rgb(255, 151, 194),0.3vw 0.3vw 0px #a70a4ba9, 
    -0.15vw -0.15vw 0px #00bc87b2, -0.5vw 0.5vw 2vw #08092ad8;
    user-select: none;
}

h2 {
    font-family: 'Titillium Web';
    font-size: clamp(1.5rem, 0.235rem + 4.412vw, 3rem); // À TRAVAILLER
}

h3 {
    font-family: 'Titillium Web';
}