.avenir-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.intro-avenir {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
    padding: 0;
    color: white;

    @media (min-width: $Fullscreen) {
        padding: 5rem 7rem;
    }
}

.avenir-carousel {
    position: relative;
    margin: auto;
    width: 90vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.463);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(0, 0, 0, 0.01);
}

.avenir-carousel .avenir-carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.avenir-carousel .avenir-carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.avenir-carousel .avenir-img {
    display: flex;
    justify-content: center;
}

.avenir-carousel .avenir-img-item {
    margin: 10px;
}

.avenir-carousel .avenir-img-item img {
    max-width: 100px;
    display: block;
    margin: auto;
}

.avenir-carousel-item .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avenir-carousel-item h3 {
    font-size: clamp(1.389rem, 2.844vw + 0.738rem, 2.444rem);
}

.avenir-carousel .carousel-control-prev, .avenir-carousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.avenir-carousel .carousel-control-prev {
    left: 0;
}

.avenir-carousel .carousel-control-next {
    right: 0;
}

.ate {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;

    @media (min-width: $Fullscreen) {
        padding: 5rem 7rem;
    }
}

.conteneur-principal {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    @media (min-width: $Fullscreen) {
        display: flex;
        flex-direction: row-reverse;
      }
}

.ate-contenu {
    width: 100%;
    padding: 0 50px 0 50px;

    @media (min-width: $Fullscreen) {
        width: 70%;
      }

      h3 {
        padding-left: 10px;
        font-size: clamp(1.389rem, 2.844vw + 0.738rem, 2.444rem);
      }
}

.soustitre-ate {
    text-align: center;
}

.ate-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        scale: 0.5;
    }

    @media (min-width: $Fullscreen) {
        width: 30%;
      }
}

.conteneur-txt-stage {
    p {
        margin-left: 0;
        margin-right: 0;
    }
}

.div-ensemble-img {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;

    .div-img-stage {
        width: 50%;
        display: flex;
    }

    .div-img-stage2 {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
}

.fin-etudes {
    padding: 16 16 16 16;

    p {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}