.avenir-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.intro-avenir {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
    padding: 0;
    color: white;

    @media (min-width: $Fullscreen) {
        padding: 5rem 7rem;
    }
}

.avenir-carousel {
    position: relative;
    margin: auto;
    width: 90vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.463);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(0, 0, 0, 0.01);
}

.avenir-carousel .avenir-carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.avenir-carousel .avenir-carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.avenir-carousel .avenir-img {
    display: flex;
    justify-content: center;
}

.avenir-carousel .avenir-img-item {
    margin: 10px;
}

.avenir-carousel .avenir-img-item img {
    max-width: 100px;
    display: block;
    margin: auto;
}

.avenir-carousel-item .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avenir-carousel-item h3 {
    font-size: clamp(1.389rem, 2.844vw + 0.738rem, 2.444rem);
}

.avenir-carousel .carousel-control-prev, .avenir-carousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-family: "pixellari";
}

.avenir-carousel .carousel-control-prev {
    left: 0;
}

.avenir-carousel .carousel-control-next {
    right: 0;
}

.ate {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

    @media (min-width: $Fullscreen) {
        padding: 5rem 7rem;
    }
}

.conteneur-principal {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    @media (min-width: $Fullscreen) {
        display: flex;
        flex-direction: row-reverse;
      }
}

.ate-contenu {
    width: 100%;
    padding: 0 50px 0 50px;

    @media (min-width: $Fullscreen) {
        width: 70%;
      }

      h3 {
        padding-left: 10px;
        font-size: clamp(1.389rem, 2.844vw + 0.738rem, 2.444rem);
      }
}

.soustitre-ate {
    text-align: center;
}

.ate-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    img {
        scale: 0.5;
        @media (min-width: $Fullscreen) {
            scale: 1;
          }
    }

    @media (min-width: $Fullscreen) {
        width: 30%;
        height: auto;
      }
}

.conteneur-txt-stage {
    p {
        margin-left: 0;
        margin-right: 0;
    }
}

.div-ensemble-img {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;

    .div-img-stage {
        width: 50%;
        display: flex;
    }

    .div-img-stage2 {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
}

.fin-etudes {
    height: 100%;
    padding: 16px;

    p {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.div-ensemble-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;

    @media (min-width: 1080px) {
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.div-ensemble-img .div-img-stage {
    width: 50%;
    display: flex;
    justify-content: center;

    @media (min-width: 1080px) {
        justify-content: flex-start;
    }
}

.div-ensemble-img .div-img-stage2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1080px) {
        flex-direction: row;
    }
}

.div-ensemble-img img {
    max-width: 50%; 
    height: auto; 
}

.div-ensemble-img .div-img-stage2 img {
    margin-bottom: 0px; 
}

.div-ensemble-img .div-img-stage2 img:last-child {
    margin-bottom: 0px; 
}

@media (min-width: 1080px) {
    .div-ensemble-img {
        flex-direction: column;
    }

    .div-ensemble-img .div-img-stage,
    .div-ensemble-img .div-img-stage2 {
        width: 20%;
    }

    .div-ensemble-img img {
        max-width: 40%; 
    }
}